<!DOCTYPE html>
<html>
<head>
    <title>Today's news</title>
</head>
<body>
    <h1>{{ news_type }} 新聞</h1>

    <pre style="white-space: pre-wrap;">{{ news }}</pre>

    <form action="/learn" method="POST">
        <!-- send level and count to voc.html -->
        <input type="hidden" name="cefr" value="{{ level }}">
        <input type="hidden" name="count" value="{{ count }}">

        <button type="submit">Start to learn vocabulary~</button>
    </form>

    <br>
    <a href="/">Back to home</a>
</body>
</html>
